/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";


@media (max-width: 991px){
    .layout-topbar .layout-menu-button {
        order: 2
    }

    .layout-topbar .layout-topbar-logo {
        order: 1
    }
}

.layout-topbar .layout-topbar-logo {
    width: auto;
    padding: 10px;
    border-radius: 15%;
}

.layout-topbar .layout-topbar-button{
    width: auto;
    padding: 10px;
    border-radius: 15%;
}

.mobile {
    display: none;
}
@media (max-width: 991px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

.custom-topbar{
    display: flex;
}
.user-topbar i{
    font-size: 1.5rem;
}
.divider-topbar{
    display: block;
}
@media (max-width: 991px) {
    .custom-topbar {
        display: block;
    }
    .user-topbar{
        padding: 1rem;
    }
    .user-topbar i{
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    .divider-topbar{
        display: none;
    }
}
